
body{
	font-family: Helvetica, Arial, Sans-Serif;
	background:#4B0082;
	color:#808080;
	padding: 5%;
}

#container{
	width:1000px;
	margin:auto;
}

p{
	margin:0px;
}


.no-display {
	display: none;
}

.yes-display {
	display: block;
}
